p.stats-header
    text-transform: uppercase
    font-size: 20px
    span
        margin-right: 50px
    span:last-child
        margin-right: 0px

.edit-dashboard
    text-align: right
    
span.stats-online
    color: green
    margin-right: 35px
    
span.stats-errors
    color: orange
    margin-right: 35px
    
span.stats-offline
    color: red
    
